#dark-history {
    min-height: 100vh;
    max-width: 1600px;
    margin: auto;
}

.dark-history__title {
    padding-top: 50px;
    text-align: center;
    letter-spacing: 7px;
    margin-bottom: 10px;
}

.dark-history__subtitle {
    margin-top: 40px;
    text-align: center;
    margin: 5px;
    font-size: .7rem;
}

/* picture */

/* picture */
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.dark-history__wrapper-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (max-width: 1000px) {
    .dark-history__wrapper-card{
        gap: 2rem;
    }
}

.dark-history__card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
}

.dark-history__card:nth-child(1) {
    background-image: url(../img/boss.svg);
    background-repeat: no-repeat;
}

.dark-history__card:nth-child(2) {
    background-image: url(../img/rab.svg);
    background-repeat: no-repeat;
}

.dark-history__card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
    background-image: none;
}

.dark-history__card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #c7c4b2, #696969 43%, #363535);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.dark-history__card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #c7c4b2, #696969 43%, #363535);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

@media (max-width: 924px) {
    .dark-history__wrapper-card {
        flex-direction: column;
        justify-content: center;
    }

    .dark-history__card:nth-child(1) {
        margin-bottom: 5vh;
    }
}

.dark-history__card-p {
    font-size: 0.55rem;
}

@media (max-width: 320px) {
    .dark-history__card-p {
        font-size: 0.3rem;
    }
}