#header {
    padding: 10px;
    background: url(../img/header-bg.svg) no-repeat center/cover;
    min-height: 100vh;
    font-size: 0.6rem;
    scale: 1;
}

.header__menu {
    display: flex;
    justify-content: space-between;
}

.menu-wrapper__item {
    display: flex;
    justify-content: space-between;
}

.menu__item {
    font-family: Lato;
    display: block;
    text-decoration: none;
    position: relative;
    margin: 0 60px;
    text-align: center;
    color: #000;
    max-height: 35px;
}

.menu__item:hover {
    transition: .4s;
    color: #fff;
}

.menu__item::after {
    content: "";
    background: rgb(0, 0, 0);
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 10px;
}

@media (min-width: 1024px) {
    .menu__item:hover::after {
        height: calc(100% + 8px);
    }
}

.hamburger {
    display: none;
    cursor: pointer;
    z-index: 4;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    padding: 10px 12px;
    border-radius: 50%;
    background: url(../img/burger-bg.gif);
}

.bar {
    display: block;
    height: 3px;
    margin: 5px 0;
    transition: all 0.5s ease;
    background-color: #ffffff;
}

.bar:nth-child(1) {
    width: 25px;
}

.bar:nth-child(2) {
    width: 20px;
}

.bar:nth-child(3) {
    width: 15px;
}

@media (max-width: 1024px) {
    .hamburger {
        display: block;
    }

    .hamburger.active {
        background: none;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .menu-wrapper__item {
        position: fixed;
        left: 0;
        top: -200%;
        min-height: 100%;
        gap: 0;
        flex-direction: column;
        background: url(../img/burger-bg.gif);
        
        background-size: cover;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 3;
        justify-content: center;
    }

    .menu__item {
        margin: 16px 0;
        color: #fff;
    }

    .menu__item:hover {
        text-decoration: underline;
    }

    .menu-wrapper__item.active {
        top: 0;
    }

    .hamburger.active {
        position: fixed;
    }
}

.header {
    transition: opacity 1s ease-in-out;
}

.header.zoomed {
    animation: zoomHeader 3s ease-in-out forwards;
}

@keyframes zoomHeader {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.menu__item {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 1s ease;
}

.menu__item.visible {
    opacity: 1;
    transform: translateY(0);
}
