.roadmap__wrapper {
    max-width: 1600px;
    margin: auto;
    padding: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.roadmap__title {
    text-align: center;
    margin: 5vh 0;
    
}

.gallery {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery__img {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}

.gallery__img--inner {
    background: url(../img/roadmap-item-bg.png);
    border-radius: 4px;
    transition: all 500ms;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery__img--inner h3 {
    font-size: .8rem;
    text-align: center;
    color: #cac0c0;
}

.gallery__img--inner p {
    font-size: .6rem;
    padding: 10px 0;
    color: #cec4c4;
}

@media (min-width: 768px) {
    .gallery__img {
        width: 50%;
    }

    .gallery__img:nth-child(odd) {
        padding-right: calc(15px / 2);
    }

    .gallery__img:nth-child(even) {
        padding-left: calc(15px / 2);
    }

    .gallery__img--inner {
        height: 384px;
    }
}

@media (min-width: 992px) {
    .gallery__img {
        width: 33.3333%;
    }

    .gallery__img:nth-of-type(8n+1),
    .gallery__img:nth-of-type(8n+2) {
        width: 50%;
    }

    .gallery__img:nth-of-type(8n+4) {
        padding-right: calc(15px / 2);
    }

    .gallery__img:nth-of-type(8n+5) {
        padding-left: calc(15px / 2);
        padding-right: 0;
    }

    .gallery__img:nth-of-type(8n+6) {
        padding-left: 0;
        padding-right: calc(15px / 2);
    }

    .gallery__img:nth-of-type(8n+7) {
        padding-left: calc(15px / 2);
    }

    .gallery__img--inner {
        height: 250px;
    }
}

/* Scroll*/
.gallery__img--inner p {
    overflow: auto;
    scrollbar-width: thin;  /* Firefox */
    scrollbar-color: #aaa #ddd;  /* Firefox */
}

/* WebKit (Chrome, Safari) */
.gallery__img--inner p::-webkit-scrollbar {
    width: 3px;
}

.gallery__img--inner p::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 8px;
}

.gallery__img--inner p::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

.gallery__img--inner p::-webkit-scrollbar-track {
    background-color: #ddd;
    border-radius: 8px;
}
