.roadmap__wrapper {
    max-width: 1600px;
    margin: auto;
    padding: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25vh;
}

.roadmap__title {
    text-align: center;
    margin: 5vh 0;
}

.gallery {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery__img {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}

.gallery__img--inner {
    background: url(../img/roadmap-item-bg.png);
    border-radius: 4px;
    transition: all 500ms;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.gallery__img--inner h3 {
    font-size: 1rem; /* Increased font size for better readability */
    text-align: center;
    color: #cac0c0;
    margin-top: 0; /* Remove default margin for h3 element */
}

.gallery__img--inner p {
    font-size: 0.8rem; /* Increased font size for better readability */
    padding: 10px 0;
    color: #cec4c4;
    margin-bottom: 0; /* Remove default margin for p element */
}

@media (min-width: 768px) {
    .gallery__img {
        width: 50%;
    }

    .gallery__img:nth-child(odd) {
        padding-right: calc(15px / 2);
    }

    .gallery__img:nth-child(even) {
        padding-left: calc(15px / 2);
    }

    .gallery__img--inner {
        height: auto; /* Allow the height to adjust based on content */
    }
}

@media (min-width: 992px) {
    .gallery__img {
        width: 33.3333%;
    }

    .gallery__img:nth-of-type(8n+1),
    .gallery__img:nth-of-type(8n+2) {
        width: 50%;
    }

    .gallery__img:nth-of-type(8n+4) {
        padding-right: calc(15px / 2);
    }

    .gallery__img:nth-of-type(8n+5) {
        padding-left: calc(15px / 2);
        padding-right: 0;
    }

    .gallery__img:nth-of-type(8n+6) {
        padding-left: 0;
        padding-right: calc(15px / 2);
    }

    .gallery__img:nth-of-type(8n+7) {
        padding-left: calc(15px / 2);
    }

    .gallery__img--inner {
        height: auto; /* Allow the height to adjust based on content */
    }
}
