<section id="dark-history">
    <h2 class="dark-history__title">Dark History</h2>
    <p class="dark-history__subtitle">In his turn, Adol and his slave do not tolerate freedom of speech and action. You
        treat creators as profit. They will do their best to control the content and their own money. For them, porn
        content is money, not art.</p>
    <div class="dark-history__wrapper-card">
        <div class="dark-history__card">
            <p class="history__card-p">
                Bobik; A man who is passionately opposed to decentralization of porn content. He feels that strict
                regulation of content is necessary. He is insanely greedy for money. He doesn't care about the feelings
                of
                models and other people.
            </p>
        </div>
        <div class="dark-history__card">
            <p class="history__card-p">
                Adolph; Bobick's right hand slave through life. Has no opinion of his own. Only takes orders from his
                boss.
            </p>
        </div>
    </div>
</section>