<header id="header">
    <nav class="header__nav container">
        <div class="header__menu">
            <button class='glowing-btn'><span class='glowing-txt'>B<span class='faulty-letter'>u</span>y</span></button>
            <div class="menu-wrapper__item">
                <a class="menu__item" href="#">Home</a>
                <a class="menu__item" href="#history">History</a>
                <a class="menu__item" href="#roadmap">Roadmap</a>
            </div>
            <div class="circle-animation">
                <div class="circle"></div>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <button class='glowing-btn'><span class='glowing-txt'>C<span
                        class='faulty-letter'>h</span>art</span></button>
        </div>
        </div>
    </nav>
</header>