<!-- <section id="history">
    <h1 class="history__title">Light History</h1>
    <p class="history__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid maxime explicabo
        alias repellendus deserunt quam nulla asperiores </p>
    <div class="history__wrapper-card">
        <div class="history__inner-card">
            <div class="history__card">
                Magic Card
            </div>
            <div class="history__card">
                Magic Card
            </div>
            <div class="history__card">
                Magic Card
            </div>
        </div>
        <button class="carousel__button carousel__button--prev none">⬅️</button>
        <button class="carousel__button carousel__button--next none">➡️</button>
    </div>
</section> -->