<section id="history">
    <h2 class="history__title">Light History</h2>
    <p class="history__subtitle">Our trio decided to unite to destroy the stereotypical porn content sites. Modern
        platforms take most of the income of models and actors, so our heroes decided to create their own decentralized,
        free platform. Where everyone will feel comfortable, without unnecessary rules and restrictions. Where the
        models' income is their income, not that of an uncle in a tuxedo.</p>
    <div class="history__wrapper-card">
        <div class="history__inner-card">
            <div class="history__card">
                <p class="history__card-p">
                    Hentai Samurai: Originally from the faraway lands of the East, programming
                    genius and crypto startup Hentai Samurai became a big fan of exotic porn in his youth. Spending
                    hundreds and thousands of hours on Pornhub, he's always been disgruntled that the site is raking in
                    huge amounts of ad money, capitalizing on the subtle connoisseurs of erotic art. He wants his
                    donations to go entirely to his favorite actresses.
                </p>
            </div>
            <div class="history__card">
                <p class="history__card-p">
                    Swinger cong: An experienced financier and crypto-enthusiast who bought the first bitcoin by saving
                    money on school lunches. But, he has a secret no one knows about - in his spare time he tries his
                    hand as an aspiring porn actor. He wants to pursue pornography for fun.
                </p>
            </div>
            <div class="history__card">
                <p class="history__card-p">
                    Webcam Fox: An enchanting beauty with mysterious eyes and creator of unique erotic NFT collections,
                    Webcam Fox has a unique ability to put on exciting online shows and enthrall her viewers. She has
                    long dreamed of freeing her streaming fans from having to blush and hide their eyes when the tax
                    preparer inquisitively inquires about bills paid.
                </p>
            </div>
        </div>
    </div>
</section>