<section id="roadmap">
    <div class="roadmap__wrapper">
        <h2 class="roadmap__title">Roadmap</h2>
        <div class="roadmap__container">
            <div class="roadmap__item item_1"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. amet consectetur
                adipisicing elit.</span></div>
            <div class="roadmap__item item_2">Lorem ipsum dolor sit amet consectetur adipisicing elit. amet consectetur
                adipisicing elit.</div>
            <div class="roadmap__item item_3">Lorem ipsum dolor sit amet consectetur adipisicing elit. amet consectetur
                adipisicing elit.</div>
            <div class="roadmap__item item_4">Lorem ipsum dolor sit amet consectetur adipisicing elit. amet consectetur
                adipisicing elit.</div>
        </div>
    </div>
</section>