<section id="roadmap">
    <div class="roadmap__wrapper">
        <h2 class="roadmap__title">Roadmap</h2>
        <div class="gallery">
            <div class="gallery__img">
                <div class="gallery__img--inner">
                    <h3>Become a board member</h3>
                    <p>The project has two opportunities to become members of the board.
                        Since we are in finance, it is logical to assume that this is money, the seven largest LINCOIN
                        holders automatically fall into board members, and change as their positions change in the list
                        of holders. <br>
                        The second way to get a seat is through elections, the three most sociable and helpful people to
                        other participants will be elected as board members for a period of one month.</p>
                </div>
            </div>
            <div class="gallery__img">
                <div class="gallery__img--inner">
                    <h3>Project Growth</h3>
                    <p>We did everything to make this project grow and very quickly.
                        The project is created entirely live on YouTube, which allows you to see everything that is
                        being done with the project. The contract was created through Pinksale, which does not allow
                        adding scam code there. The project provides a lot of useful things for holders.</p>
                </div>
            </div>
            <div class="gallery__img">
                <div class="gallery__img--inner">
                    <h3>Profit from ownership</h3>
                    <p>The project provides a reward to all holders in the amount of 2% of all transactions, the amount
                        of reward depends on the number of tokens that you hold. The reward comes in USDT!</p>
                </div>
            </div>
            <div class="gallery__img">
                <div class="gallery__img--inner">
                    <h3>Software</h3>
                    <p>The task of the project is to help you make money for this, we will provide programs such as a
                        sniper bot for new projects.</p>
                </div>
            </div>
            <div class="gallery__img">
                <div class="gallery__img--inner">
                    <h3>Education</h3>
                    <p>Our community must be educated, we will buy crypto education for you, which will allow you to
                        earn more and lose less.</p>
                </div>
            </div>
        </div>
    </div>
</section>