<section id="roadmap">
    <div class="roadmap__wrapper">
        <h2 class="roadmap__title">Roadmap</h2>
        <div class="gallery">
            <div class="gallery__img">
                <div class="gallery__img--inner">
                    <h3>The first stage</h3>
                    <p>- first 1000 holders <br>
                        - listing on the main DEFI platforms<br>
                        - advertising with leading bsc influencers<br>
                        - first collaborations with micro-celebrities of the porn industry</p>
                </div>
            </div>
            <div class="gallery__img">
                <div class="gallery__img--inner">
                    <h3>The second stage</h3>
                    <p>- part of the money will go to pay for programmers and marketing <br>
                        - most of the money will be the liquidity of the token when listed on the ether</p>
                </div>
            </div>
            <div class="gallery__img">
                <div class="gallery__img--inner">
                    <h3>The third stage</h3>
                    <p>- advertising with leading ethical influencers <br>
                        - collaborations with mid-level porn celebrities<br>
                        - global marketing<br>
                        - 10 000 holders</p>
                </div>
            </div>
            <div class="gallery__img">
                <div class="gallery__img--inner">
                    <h3>The fourth stage</h3>
                    <p>
                        - many models are streaming on our platform using our token<br>
                        - hundreds of popular porn actors switch to our platform with their audiences<br>
                        - Advertisers buy ads for our token, providing revenue per view for each viewer<br>
                    </p>
                </div>
            </div>
            <div class="gallery__img">
                <div class="gallery__img--inner">
                    <h3>The fifth stage</h3>
                    <p>
                        - from this point on, the fate of the platform is completely in the hands of the community<br>
                        - all further updates and the addition of new services are carried out only through voting
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>